body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form-container {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(146, 146, 146, 0.082);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.349);
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 0;
}

.upper_part {
  height: 25%;
  height: auto;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.63);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  height: 100%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: underline;
  height: 100px;
}


.login_form, .Sign-up-form {
  height: 55%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_form > div, .Sign-up-form > div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.indicator {
  width: 80%;
  font-family: sans-serif;
  margin: 0;
  font-size: 12px;
}

.input_container {
  width: 80%;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(128, 128, 128, 0.349);
}

.input_container > input {
  height: 100%;
  width: 95%;
  border-style: solid;
  border-width: 0;
  padding: 0;
  padding-left: 2%;
  outline: none;
  background-color: rgba(255, 0, 0, 0);
}


button {
  border-style: solid;
  border-radius: 5px;
  border-width: 0;
  background-color: rgba(0, 0, 0, 0.562);
  width: 400px;
  height: 45px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.76);
}

.lower_part {
  height: 20%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lower_part > p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}























































.Sign-up-form {
  background-color: rgba(0, 128, 0, 0);
}
